schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn://egisso-ru/types/package-RAF/1.0.3" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn://egisso-ru/types/package-RAF/1.0.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema2.xsd" namespace="urn://egisso-ru/types/assignment-fact/1.0.3" />
  <xs:element name="package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="packageID" type="xs:string" />
        <xs:element name="elements">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="fact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q1="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q1:ID" />
                    <xs:element xmlns:q2="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q2:OSZCode" />
                    <xs:element xmlns:q3="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q3:MSZ_receiver" />
                    <xs:element minOccurs="0" xmlns:q4="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q4:reason_persons" />
                    <xs:element xmlns:q5="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q5:LMSZID" />
                    <xs:element xmlns:q6="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q6:categoryID" />
                    <xs:element xmlns:q7="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q7:decision_date" />
                    <xs:element xmlns:q8="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q8:dateStart" />
                    <xs:element xmlns:q9="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q9:dateFinish" />
                    <xs:element xmlns:q10="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q10:needsCriteria" />
                    <xs:element xmlns:q11="urn://egisso-ru/types/assignment-fact/1.0.3" ref="q11:assignment_info" />
                    <xs:element name="lastChanging" type="xs:dateTime" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>