schema5.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn://egisso-ru/types/basic/1.0.4" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn://egisso-ru/types/basic/1.0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PassportRF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Series" type="xs:string" />
        <xs:element name="Number" type="xs:string" />
        <xs:element name="IssueDate" type="xs:date" />
        <xs:element name="Issuer" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirthCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Series" type="xs:string" />
        <xs:element name="Number" type="xs:string" />
        <xs:element name="IssueDate" type="xs:date" />
        <xs:element name="Issuer" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>