schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn://egisso-ru/types/assignment-fact/1.0.3" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn://egisso-ru/types/assignment-fact/1.0.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema3.xsd" namespace="urn://egisso-ru/types/prsn-info/1.0.3" />
  <xs:import schemaLocation="schema4.xsd" namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" />
  <xs:element name="ID" type="xs:string" />
  <xs:element name="OSZCode" type="xs:string" />
  <xs:element name="MSZ_receiver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn://egisso-ru/types/prsn-info/1.0.3" ref="q1:SNILS" />
        <xs:element xmlns:q2="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" ref="q2:FamilyName" />
        <xs:element xmlns:q3="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" ref="q3:FirstName" />
        <xs:element xmlns:q4="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" ref="q4:Patronymic" />
        <xs:element xmlns:q5="urn://egisso-ru/types/prsn-info/1.0.3" ref="q5:Gender" />
        <xs:element xmlns:q6="urn://egisso-ru/types/prsn-info/1.0.3" ref="q6:BirthDate" />
        <xs:element xmlns:q7="urn://egisso-ru/types/prsn-info/1.0.3" ref="q7:IdentityDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LMSZID" type="xs:string" />
  <xs:element name="categoryID" type="xs:string" />
  <xs:element name="decision_date" type="xs:date" />
  <xs:element name="dateStart" type="xs:date" />
  <xs:element name="dateFinish" type="xs:date" />
  <xs:element name="needsCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="usingSign" type="xs:boolean" />
        <xs:element name="criteria" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assignment_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceForm">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:string" />
              <xs:element name="measuryCode" type="xs:string" />
              <xs:element name="content" type="xs:string" />
              <xs:element name="comment" type="xs:string" />
              <xs:element name="equivalentAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="monetary_form">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reason_persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" xmlns:q8="urn://egisso-ru/types/prsn-info/1.0.3" ref="q8:prsnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>